@{ ViewBag.Title = "People"; }

<br />

<div id="test" style="outline: 1px solid #dddddd;" data-config="{ uri: '/Api/Person' }">
    <div class="grid" style="height:400px">
        <table>
            <thead>
                <tr>
                    <th data-column="{ name: 'Id', width: 60, filterTemplate: 'numeric-filter' }">Id</th>
                    <th data-column="{ name: 'FirstName', sort: 'Asc', sortIndex: 0, url: '/Person/Edit/{{Id}}/{{FirstName}}-{{LastName}}', filterTemplate: 'check-list' }">First Name</th>
                    <th data-column="{ name: 'LastName', sort: 'Asc', sortIndex: 1, filterTemplate: 'string-operations' }">Last Name</th>
                    <th data-column="{ name: 'BirthDate', filterTemplate: 'date-range-filter' }">Birth Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $().ready(function () {
        var grid = new Grid("#test");
    });
</script>
